<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AccountPage</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <br>
    <div class="row justify-content-center">
        <h2>アカウント登録</h2>
    </div>

    <div class="row justify-content-center">
        <h4 th:if="${error}" style="color: red;">アカウント登録に失敗しました</h4>
    </div>

    <div class="row justify-content-center">
        <h5 th:if="${error}" style="color: red;">既に登録されているIDです</h5>
    </div>

    <div class="row justify-content-center">
        <h5 th:if="${deleted}" style="color: forestgreen;">アカウントを削除しました</h5>
    </div>

    <br>
    <div class="container">

        <form class="needs-validation" action="/account" method="post" novalidate>

            <!--userId-->
            <div class="row justify-content-center">
                <div class="form-group col-md-3">
                    <label for="InputUserId">UserId</label>
                    <input type="text" class="form-control" id="inputUserId" name="userid" placeholder="UserId" required autofocus>
                    <div class="invalid-feedback">
                        Please provide a valid UserId
                    </div>
                    <small id="emailHelp" class="form-text text-muted">登録するIDを入力(半角英数16文字)</small>
                    <!--<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error!</span>-->
                </div>
            </div>

            <!--Password-->
            <div class="row justify-content-center">
                <div class="form-group col-md-3">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="passwd" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please provide a valid Password
                    </div>
                    <!--<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error!</span>-->
                </div>
            </div>

            <br>
            <!--Submit-->
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">登録</button>
            </div>

            <br>
            <!--LoginForm LINK-->
            <div class="row justify-content-center">
                <a href="/login">ログイン画面</a>
            </div>

        </form>

    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>